#red {
    color: red;
}
#blue {
    color: rgb(0, 140, 221);
}
#green {
    color: green
}
#orange {
    color: orange
}
#yello {
    color: yellow;
}

.color-title{
    font-weight: normal;
}

img {
    width: 200px;
    height: 200px;
}