<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: rgb(37, 37, 37);
        }

        p {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: aquamarine;
        }

        form {
            padding: 20px;
        }
    </style>
    <title>Flask Shananigans</title>
</head>
<body>
        <p>Weather APP</p>
        <form action="" method="POST">
            <input type="text" name="lat" placeholder="Enter Latitude"> <br>
            <input type="text" name="lon" placeholder="Enter Longitude"> <br>
            <button type="submit">submit </button>
        </form>
        

</body>
</html>